<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <h1>lone.ly</h1>
            <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body id="arousedpage">
        <h3>Welcome to the AROUSED chat room</h3>
        <p>Please be nice!</p>
        <h5>Messages:</h5>
        <div class="container">
            <div class="jumbotron">
                
            </div>
        </div>
        
        <p>Enter your Message   <input /></p>
        <button>Send</button>
        
    </body>
</html>